doctype html
html
  head
    title Kidneuro Log System
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/d3.js')
    script(src='/js/angular.js')
    script(src='/js/kidneuro.js')
  body
    block content
